<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "COOA 로그인" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-tint text-ink font-sans antialiased">
    <main class="flex min-h-full items-center justify-center p-6"><%= yield %></main>
  </body>
</html>
